<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <!-- Nav  -->
    <div class="row">
      <div class="col">
        <nav
          class="navbar navbar-expand-lg navbar-dark navbar-rounded second-bg shadow"
          style="font-size: large"
        >
          <a href="/">
            <img class="title-img ml-4 mr-4" src="/images/title.png" />
          </a>
          <a class="navbar-brand" href="/"><%= title %></a>
        </nav>
      </div>
    </div>

    <div class="container">
      <!-- title  -->
      <div class="row mt-5">
        <div
          class="col-12 col-md-6 p-3 pr-md-5 d-flex justify-content-center justify-content-md-end"
        >
          <img class="photo shadow scale-up-center" src="/images/face.jpg" />
        </div>
        <div
          class="row col-12 col-md-6 d-flex p-3 pl-md-5 justify-content-center justify-content-md-start align-self-center create-mt-md"
        >
          <div class="row col-12">The Sky is the limit</div>
          <div class="row col-12 mt-5">
            <span>안녕하세요!&nbsp;&nbsp;</span>
            <span class="word belize">백엔드지향</span>
            <span class="word pomegranate">희열넘치는</span>
            <span class="word green">노력하는</span>
          </div>
          <div class="row col-12 mt-2">개발자 김정윤 입니다.</div>
        </div>
      </div>

      <!-- main menu  -->
      <div class="row mt-4 rounded">
        <div
          class="col-xl-2 col-sm-2 col-3 d-flex justify-content-center btn-grad shadow"
        >
          소개
        </div>
        <div
          class="col-xl-2 col-sm-2 col-3 d-flex justify-content-center btn-grad shadow"
        >
          작품
        </div>
        <div class="col-xl-8 col-sm-8 col-6"></div>
      </div>
      <div class="wrapper">
        <div class="row active-page shadow target mb-5" style="display: block">
          <% include ./intro_page %>
        </div>
        <div class="row active-page shadow target mb-5" style="display: none">
          <% include ./product_page %>
        </div>
      </div>
    </div>
    <a href="#" class="float">
      <i class="fa fa-plus"></i>
    </a>
    <script src="/javascripts/main.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
  </body>
</html>
