<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <!-- Nav  -->
    <div class="row">
      <div class="col">
        <nav
          class="navbar navbar-expand-lg navbar-dark navbar-rounded second-bg shadow nav-grad"
          style="font-size: large"
        >
          <a class="navbar-brand" href="/"><%= title %></a>
        </nav>
      </div>
    </div>

    <nav class="navbar navbar-expand main-bg" style="font-size: large">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-highlight" href="#">KimJeongYun</a>
        </li>
        <li class="nav-item mt-2">
          <span class="nav-item text-highlight" href="#">/</span>
        </li>
        <li class="nav-item">
          <a class="nav-link text-highlight" href="#">Readme.JY</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <!-- title  -->
      <div class="row border-test mt-5 rounded shadow">
        <div class="col-12 col-md-6 d-flex justify-content-center">
          photo image <br />
          photo image <br />
          photo image <br />
          photo image <br />
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center create-mt-md">
          introduction <br />
          introduction <br />
          introduction <br />
          introduction <br />
        </div>
      </div>

      <!-- main menu  -->
      <div class="row mt-4 rounded">
        <div
          class="col-xl-1 col-sm-2 col-3 d-flex justify-content-center btn-grad shadow"
        >
          소개
        </div>
        <div
          class="col-xl-1 col-sm-2 col-3 d-flex justify-content-center btn-grad shadow"
        >
          작품
        </div>
        <div class="col-xl-10 col-sm-8 col-6"></div>
      </div>

      <div class="row active_page shadow" style="display: block">
        <% include ./intro_page %>
      </div>
      <div class="row active_page shadow" style="display: none">
        <% include ./product_page %>
      </div>
    </div>
    <script src="/javascripts/main.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
  </body>
</html>
