<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
  </head>

  <body>
    <!-- Nav  -->
    <div class="row">
      <div class="col">
        <nav
          class="navbar navbar-expand navbar-dark navbar-rounded assistant-bg shadow"
        >
          <a href="/">
            <img class="title-img ml-2 mr-3" src="/images/title.png" />
          </a>
          <a class="navbar-brand" href="/"><%= title %></a>
        </nav>
      </div>
    </div>

    <div class="container">
      <!-- title  -->
      <div class="row mt-5">
        <div
          class="col-12 col-md-6 p-3 pr-md-5 d-flex justify-content-center justify-content-md-end"
        >
          <img class="photo scale-up-center shadow" src="/images/face.jpg" />
        </div>
        <div
          class="row col-12 col-md-6 d-flex p-3 pl-md-5 justify-content-center justify-content-md-start align-self-center"
        >
          <div class="row col-12">
            <i class="gradtext" style="font-weight: bold; font-size: x-large"
              >The Sky is the limit!</i
            >
          </div>
          <div class="row col-12 mt-5">
            <span>안녕하세요!&nbsp;&nbsp;</span>
            <span class="word belize">백엔드지향</span>
            <span class="word pomegranate">희열넘치는</span>
            <span class="word green">열정을가진</span>
          </div>
          <div class="row col-12 mt-2">개발자 김정윤 입니다.</div>
        </div>
      </div>

      <!-- main menu  -->
      <div class="row mt-4 rounded mb-4">
        <div
          class="col-xl-2 col-sm-2 col-3 d-flex justify-content-center btn-grad shadow"
        >
          <i class="fas fa-user-tie mt-1 mr-3"></i>
          소개
        </div>
        <div
          class="col-xl-2 col-sm-2 col-3 d-flex justify-content-center btn-grad shadow"
        >
          <i class="fas fa-file-code mt-1 mr-3"></i>
          작품
        </div>
        <div class="col-xl-8 col-sm-8 col-6"></div>
      </div>
      <div class="wrapper">
        <div
          class="row mb-5 shadow active-page target p-5"
          style="display: block; background: #22273a"
        >
          <div id="introduce" class="markdown-body"></div>
        </div>
        <div class="row mb-5 shadow active-page target" style="display: none">
          <% include ./product_page %>
        </div>
      </div>
    </div>
    <a href="#" class="float pt-1">
      <i class="fas fa-arrow-up fa-lg mt-3"></i>
    </a>

    <script src="/javascripts/markdown.js"></script>
    <script src="/javascripts/letterAni.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/scroll.js"></script>
    <script src="/javascripts/pageToggle.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </body>
</html>
