<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
  </head>

  <body>
    <div class="container">
      <!-- intro  -->
      <div class="row mt-3 shadow">
        <div class="col-12 content rounded p-4">
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
          intro_page <br />
        </div>
      </div>
    </div>
    <script src="//unpkg.com/jquery@3/dist/jquery.min.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
  </body>
</html>
