<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container">
      <!-- intro  -->
      <div class="row mt-3 shadow">
        <div class="col-12 border-test rounded">
          project-3 <br />project-3 <br />project-3 <br />project-3
          <br />project-3 <br />project-3 <br />project-3 <br />project-3
          <br />project-3 <br />project-3 <br />project-3 <br />project-3
          <br />project-3 <br />project-3 <br />project-3 <br />project-3
          <br />project-3 <br />project-3 <br />project-3 <br />project-3
          <br />project-3 <br />project-3 <br />project-3 <br />project-3
          <br />project-3 <br />project-3 <br />project-3 <br />project-3
          <br />project-3 <br />project-3 <br />
        </div>
      </div>
    </div>
    <script src="//unpkg.com/jquery@3/dist/jquery.min.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
  </body>
</html>
