<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container">
      <!-- product  -->
      <div class="row mt-3">
        <div
          class="col-12 col-xl-8 border-test rounded mb-3 shadow"
          style="font-size: large"
        >
          <div class="row bb mb-1 mt-1 p-1">
            <div class="col-12">header</div>
          </div>
          <div class="row bb-highlight product mt-1 p-1 tt">
            <div class="col-12 col-sm-4">AutoAction</div>
            <div class="col-sm-8 d-none d-sm-block">
              JAVA + javaSwing 매크로 프로그램
            </div>
          </div>
          <div class="row bb-highlight product p-1">
            <div class="col-12 col-sm-4">WvsGameServer</div>
            <div class="col-sm-8 d-none d-sm-block">
              JAVA를 이용한 RPG게임 클로닝 (팀프로젝트)
            </div>
          </div>
          <div class="row bb-highlight product p-1">
            <div class="col-12 col-sm-4">README.JY</div>
            <div class="col-sm-8 d-none d-sm-block">
              개인 포트폴리오 페이지 (진행중)
            </div>
          </div>
          <div class="row product p-1">
            <div class="col-12 col-sm-4">캡스톤</div>
            <div class="col-sm-8 d-none d-sm-block">캡스톤</div>
          </div>
        </div>
        <div
          class="col-12 mb-3 offset-xl-1 col-xl-3 create-mt-xl border-test rounded shadow d-flex justify-content-center"
        >
          <span class="align-self-center project-img">1</span>
          <span class="align-self-center project-img">2 </span>
          <span class="align-self-center project-img">3 </span>
          <span class="align-self-center project-img">4</span>
        </div>
      </div>

      <div class="row page" style="display: block">
        <% include ./product_1 %>
      </div>
      <div class="row page" style="display: none">
        <% include ./product_2 %>
      </div>
      <div class="row page" style="display: none">
        <% include ./product_3 %>
      </div>
      <div class="row page" style="display: none">
        <% include ./product_4 %>
      </div>
    </div>
    <script src="/javascripts/select.js"></script>
    <script src="//unpkg.com/jquery@3/dist/jquery.min.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
  </body>
</html>
