<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
  </head>

  <body>
    <div class="container">
      <!-- product  -->
      <div class="row mt-3 mb-3">
        <div
          class="col-12 col-xl-8 rounded shadow content mb-3"
          style="font-size: medium"
        >
          <div class="row bb mb-1 mt-1 p-1">
            <div class="col-12" style="font-size: large">
              <i class="fas fa-caret-down fa-lg ml-1 mr-3"></i>Products
            </div>
          </div>
          <div class="row bb-highlight product mt-1 p-1">
            <div class="col-12 col-sm-4">AutoAction</div>
            <div class="col-sm-8 d-none d-sm-block">
              JAVA + javaSwing 매크로 프로그램
            </div>
            <div class="previewbox">1</div>
          </div>
          <div class="row bb-highlight product p-1">
            <div class="col-12 col-sm-4">WvsGameServer</div>
            <div class="col-sm-8 d-none d-sm-block">
              JAVA를 이용한 RPG게임 클로닝 (팀프로젝트)
            </div>
            <div class="previewbox">2</div>
          </div>
          <div class="row bb-highlight product p-1">
            <div class="col-12 col-sm-4">README.JY</div>
            <div class="col-sm-8 d-none d-sm-block">
              개인 포트폴리오 페이지 (진행중)
            </div>
            <div class="previewbox">3</div>
          </div>
          <div class="row product p-1">
            <div class="col-12 col-sm-4">캡스톤</div>
            <div class="col-sm-8 d-none d-sm-block">캡스톤</div>
            <div class="previewbox">4</div>
          </div>
        </div>
        <div
          class="mb-3 offset-xl-1 col-xl-3 mt-md-0 mt-3 content rounded shadow d-xl-flex d-none justify-content-center"
        >
          <span style="display: block" class="align-self-center project-img"
            >평시</span
          >
          <span style="display: none" class="align-self-center project-img"
            >1</span
          >
          <span style="display: none" class="align-self-center project-img"
            >2
          </span>
          <span style="display: none" class="align-self-center project-img"
            >3
          </span>
          <span style="display: none" class="align-self-center project-img"
            >4</span
          >
        </div>
      </div>
    </div>

    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: block"
    >
      1
    </div>
    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: none"
    >
      2
    </div>
    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: none"
    >
      3
    </div>
    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: none"
    >
      4
    </div>

    <script src="/javascripts/preview.js"></script>
    <script src="/javascripts/previewImg.js"></script>
    <script src="/javascripts/productToggle.js"></script>
    <script src="//unpkg.com/jquery@3/dist/jquery.min.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </body>
</html>
