<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container">
      <!-- product  -->
      <div class="row mt-3">
        <div class="col-12 col-xl-8 border-test rounded shadow">
          <div class="row bb mb-1 mt-1">
            <div class="col-12">header</div>
          </div>
          <div class="row product mt-1">
            <div class="col-12 col-sm-4 bt">1</div>
            <div class="col-sm-8 d-none d-sm-block bt">e</div>
          </div>
          <div class="row product">
            <div class="col-12 col-sm-4 bt">2</div>
            <div class="col-sm-8 d-none d-sm-block bt">e</div>
          </div>
          <div class="row product">
            <div class="col-12 col-sm-4 bt">3</div>
            <div class="col-sm-8 d-none d-sm-block bt">e</div>
          </div>
          <div class="row product">
            <div class="col-12 col-sm-4 bt">4</div>
            <div class="col-sm-8 d-none d-sm-block bt">e</div>
          </div>
        </div>
        <div
          class="col-12 offset-xl-1 col-xl-3 create-mt-xl border-test rounded shadow"
        >
          explain-box
        </div>
      </div>

      <div class="row page"><% include ./product_1 %></div>
      <div class="row page"><% include ./product_2 %></div>
      <div class="row page"><% include ./product_3 %></div>
      <div class="row page"><% include ./product_4 %></div>
    </div>
    <script src="/javascripts/select.js"></script>
    <script src="//unpkg.com/jquery@3/dist/jquery.min.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
  </body>
</html>
