<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="//unpkg.com/bootstrap@4/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container">
      <!-- product  -->
      <div class="row mt-3">
        <div class="col-12 col-xl-8">
          <div class="row">
            <div class="col-12 border-test">header</div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4 border-test">1</div>
            <div class="col-sm-8 d-none d-sm-block border-test">e</div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4 border-test">2</div>
            <div class="col-sm-8 d-none d-sm-block border-test">e</div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4 border-test">3</div>
            <div class="col-sm-8 d-none d-sm-block border-test">e</div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-4 border-test">4</div>
            <div class="col-sm-8 d-none d-sm-block border-test">e</div>
          </div>
        </div>
        <div class="col-12 offset-xl-1 col-xl-3 border-test create-mt">
          explain-box
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12 border-test">각각의 프로젝트들</div>
      </div>
    </div>
    <script src="//unpkg.com/jquery@3/dist/jquery.min.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
  </body>
</html>
