<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
  </head>

  <body>
    <div class="container">
      <!-- product  -->
      <div class="row mt-3 mb-3 main-bg">
        <div class="col-12 col-xl-8 main-bg mb-3" style="font-size: medium">
          <div class="row bb mb-1 mt-1 p-1 assistant-bg rounded-top shadow">
            <div class="col-12" style="font-size: large">
              <i class="fas fa-caret-down fa-lg ml-1 mr-3"></i>Products
            </div>
          </div>
          <div class="row bb-highlight product mt-1 p-1 shadow">
            <div class="col-12 col-sm-4">AutoAction</div>
            <div class="col-sm-8 d-none d-sm-block">
              JAVA + javaSwing 매크로 프로그램
            </div>
            <div class="previewbox rounded shadow">1</div>
          </div>
          <div class="row bb-highlight product p-1 shadow">
            <div class="col-12 col-sm-4">WvsGameServer</div>
            <div class="col-sm-8 d-none d-sm-block">
              JAVA를 이용한 RPG게임 클로닝 (팀프로젝트)
            </div>
            <div class="previewbox rounded shadow">2</div>
          </div>
          <div class="row bb-highlight product p-1 shadow">
            <div class="col-12 col-sm-4">README.JY</div>
            <div class="col-sm-8 d-none d-sm-block">
              개인 포트폴리오 페이지 (진행중)
            </div>
            <div class="previewbox rounded shadow">3</div>
          </div>
          <div class="row bb-highlight product p-1 rounded-bottom shadow">
            <div class="col-12 col-sm-4">캡스톤</div>
            <div class="col-sm-8 d-none d-sm-block">캡스톤</div>
            <div class="previewbox rounded shadow">4</div>
          </div>
        </div>
        <div
          class="mb-3 offset-xl-1 col-xl-3 mt-md-0 mt-3 p-4 content rounded shadow d-xl-flex d-none justify-content-left"
        >
          <div>
            <div class="u-center">
              <div class="mb-3">Project Rate</div>
              <section class="skills">
                <div class="skill">
                  <h3 class="skill__type">HTML</h3>
                  <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--100"></div>
                  </div>
                </div>
                <div class="skill">
                  <h3 class="skill__type">CSS</h3>
                  <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--90"></div>
                  </div>
                </div>
                <div class="skill">
                  <h3 class="skill__type">JS</h3>
                  <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--80"></div>
                  </div>
                </div>
                <div class="skill">
                  <h3 class="skill__type">PHP</h3>
                  <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--70"></div>
                  </div>
                </div>
                <div class="skill">
                  <h3 class="skill__type">SQL</h3>
                  <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--60"></div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: block"
    ></div>
    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: none"
    ></div>
    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: none"
    ></div>
    <div
      class="col-12 p-5 content rounded shadow page markdown-body"
      style="display: none"
    ></div>

    <script src="/javascripts/preview.js"></script>
    <script src="/javascripts/previewImg.js"></script>
    <script src="/javascripts/productToggle.js"></script>
    <script src="//unpkg.com/jquery@3/dist/jquery.min.js"></script>
    <script src="//unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </body>
</html>
