:root {
  --main-bg-color: white;
  --main-border-color: #5120ff;
  --main-second-color: #f7f9fc;
}

body {
  background-color: var(--main-bg-color) !important;
  color: black !important;
  font-family: 'RIDIBatang' !important;
  font-size: x-large !important;
}

.content-box {
  border: 5x solid var(--main-border-color);
}

.border-test {
  border: 1px solid var(--main-border-color);
}

.second-bg {
  background-color: var(--main-second-color) !important;
}

.bt {
  border-top: 1px solid var(--main-border-color);
}

.main-bg {
  background-color: var(--main-bg-color) !important;
}

.ml-item {
  margin-left: 40px;
}

@media (max-width: 1200px) {
  .create-mt {
    margin-top: 25px;
  }
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('../static/RIDIBatang.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
