:root {
  --main-bg-color: #1b1f2e;
  --main-border-color: #22273a;
  --main-card-bg-color: #22273a;
  --main-text-color: #b8bcd5;
  --main-highlight-color: #344cb4;
}

body {
  background-color: var(--main-bg-color) !important;
  color: var(--main-text-color) !important;
  font-family: 'RIDIBatang' !important;
  font-size: x-large !important;
}

.content-box {
  border: 5x solid var(--main-border-color);
}

.border-test {
  border: 1px solid var(--main-border-color);
  background-color: var(--main-card-bg-color);
}

.second-bg {
  background-color: var(--main-card-bg-color) !important;
}

.text-highlight {
  color: var(--main-highlight-color);
}

.text-highlight:hover {
  color: var(--main-text-color);
}

.bt {
  border-top: 1px solid var(--main-border-color);
}

.bb {
  border-bottom: 2px solid gray;
}

.main-bg {
  background-color: var(--main-bg-color) !important;
}

.ml-item {
  margin-left: 40px;
}

.product {
  background-color: var(--main-highlight-color);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    var(--main-card-bg-color) 0%,
    var(--main-highlight-color) 51%,
    var(--main-card-bg-color) 100%
  );
}

.btn-grad {
  font-size: medium;
  margin: 10px;
  padding: 5px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--main-text-color);
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .create-mt-xl {
    margin-top: 25px;
  }
}

@media (max-width: 770px) {
  .create-mt-md {
    margin-top: 25px;
  }
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('../static/RIDIBatang.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
