:root {
  --main-bg-color: #1b1f2e;
  --main-border-color: #22273a;
  --main-card-bg-color: #22273a;
  --main-text-color: #b8bcd5;
  --main-highlight-color: #344cb4;
}

.project-img {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.float {
  visibility: hidden;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: var(--main-bg-color);
  border-radius: 50px;
  text-align: center;
}

.fl-in {
  animation: float-in 0.5s ease-in-out;
  visibility: visible;
}

@keyframes float-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 3;
    transform: none;
  }
}

body {
  background-color: var(--main-bg-color) !important;
  color: var(--main-text-color) !important;
  font-family: 'RIDIBatang' !important;
  font-size: larger !important;
  overflow-x: hidden;
}

.wrapper {
  height: 1000px;
  background-color: var(--main-bg-color);
}

.photo {
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.title-img {
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    both;
  animation: scale-up-center 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.content-box {
  border: 5x solid var(--main-border-color);
}

.border-test {
  border: 1px solid var(--main-border-color);
  background-color: var(--main-card-bg-color);
}

.second-bg {
  background-color: var(--main-card-bg-color) !important;
}

.text-highlight {
  color: var(--main-highlight-color);
}

.text-highlight:hover {
  color: var(--main-text-color);
}

.bt {
  border-top: 1px solid var(--main-border-color);
}

.bb {
  border-bottom: 2px solid gray;
}

.bb-highlight {
  border-bottom: 2px solid var(--main-bg-color);
}

.main-bg {
  background-color: var(--main-bg-color) !important;
}

.ml-item {
  margin-left: 40px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    var(--main-highlight-color) 100%,
    var(--main-highlight-color) 100%,
    var(--main-highlight-color) 100%
  );
}

.btn-grad {
  font-size: medium;
  margin: 10px;
  padding: 5px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--main-text-color);
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.nav-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.product:hover {
  background-color: var(--main-highlight-color);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  .create-mt-xl {
    margin-top: 25px;
  }
}

@media (max-width: 770px) {
  .create-mt-md {
    margin-top: 25px;
  }
}

@media (max-width: 400px) {
  .word {
    width: 220px;
    opacity: 0;
    height: 100%;
    font-weight: bold;
    margin-top: 12px;
  }
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('../static/RIDIBatang.otf') format('woff');
}

@-webkit-keyframes scale-up-center {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.word {
  width: 220px;
  opacity: 0;
  height: 100%;
  font-weight: bold;
}

.letter {
  display: inline;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}
