:root {
  --main-bg-color:#0D1117;
  --main-border-color:#30363D;
  --main-second-color:#161B22;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--main-bg-color) !important;
  color: white !important;
}

.content-box{
  border: 5px solid var(--main-border-color);
}

.border-test{
  border: 1px solid aquamarine;
}

.second-bg{
  background-color: var(--main-second-color) !important;
}
