:root {
  --main-bg-color: #0d1117;
  --main-border-color: #30363d;
  --main-second-color: #161b22;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: var(--main-bg-color) !important;
  color: white !important;
}

.content-box {
  border: 5px solid var(--main-border-color);
}

.border-test {
  border: 1px solid aquamarine;
}

.border-test2 {
  border: 1px solid red;
}

.second-bg {
  background-color: var(--main-second-color) !important;
}

.main-bg {
  background-color: var(--main-bg-color) !important;
}

.ml-item {
  margin-left: 40px;
}

@media (max-width: 1200px) {
  .create-mt {
    margin-top: 25px;
  }
}
